In [35]:
from tqdm import tqdm
import requests
import pandas as pd
from PIL import Image
import numpy as np
from matplotlib import pyplot as plt

In [36]:
# from google.colab import drive
# drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [37]:
# from google.colab import files
# files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"ayushsubedi","key":"3e35ef7e4ca7d5ebb110014575a431f4"}'}

In [38]:
# !ls -lha kaggle.json
# !pip install -q kaggle
# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/
# !chmod 600 /root/.kaggle/kaggle.json

-rw-r--r-- 1 root root 67 May  3 03:31 kaggle.json

In [39]:
# !kaggle datasets download andrewmvd/ocular-disease-recognition-odir5k

Downloading ocular-disease-recognition-odir5k.zip to /content
100% 1.62G/1.62G [00:19<00:00, 99.8MB/s]
100% 1.62G/1.62G [00:19<00:00, 89.1MB/s]

In [40]:
# !unzip -qq /content/ocular-disease-recognition-odir5k.zip

In [43]:
df = pd.read_excel('/content/gdrive/MyDrive/ODIR-5K/ODIR-5K/data.xlsx')

In [44]:
df

        ID  Patient Age Patient Sex    Left-Fundus  ...  A  H  M  O
0        0           69      Female     0_left.jpg  ...  0  0  0  0
1        1           57        Male     1_left.jpg  ...  0  0  0  0
2        2           42        Male     2_left.jpg  ...  0  0  0  1
3        3           66        Male     3_left.jpg  ...  0  0  0  1
4        4           53        Male     4_left.jpg  ...  0  0  0  1
...    ...          ...         ...            ...  ... .. .. .. ..
3495  4686           63        Male  4686_left.jpg  ...  0  0  0  0
3496  4688           42        Male  4688_left.jpg  ...  0  0  0  0
3497  4689           54        Male  4689_left.jpg  ...  0  0  0  0
3498  4690           57        Male  4690_left.jpg  ...  0  0  0  0
3499  4784           58        Male  4784_left.jpg  ...  1  1  0  0

[3500 rows x 15 columns]

In [47]:
df = df[(df.N==1) | (df.G==1)]

In [49]:
df.N.value_counts()

1    1140
0     215
Name: N, dtype: int64

In [50]:
df.G.value_counts()

0    1140
1     215
Name: G, dtype: int64