In [1]:
from os import listdir
from os.path import isfile, join
import pandas as pd
import shutil

In [2]:
path = "../../../diabetic_retinopathy_prediction/datasets/test/"

In [3]:
onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]

In [4]:
len(onlyfiles)

31580

In [5]:
df = pd.read_csv("../../trainLabels.csv")

In [6]:
df.head()

      image  level
0   10_left      0
1  10_right      0
2   13_left      0
3  13_right      0
4   15_left      1

In [7]:
onlyfiles[:4]

['27780_right.jpeg', '36065_right.jpeg', '6514_right.jpeg', '482_right.jpeg']

In [8]:
files = [x.split('.')[0] for x in onlyfiles]

In [9]:
df.image.isin(files).sum()

31580

In [10]:
df.shape[0]

35126

In [11]:
train_val = df.shape[0]-df.image.isin(files).sum()

In [12]:
train_val

3546

In [13]:
t = []
for i in range(0, 5):
    t = t + [f for f in listdir("../dataset/train/"+str(i)) if isfile(join("../dataset/train/"+str(i), f))]
t_files = [x.split('.')[0] for x in t]

In [14]:
len(t)

2832

In [15]:
v = []
for i in range(0, 5):
    v = v + [f for f in listdir("../dataset/valid/"+str(i)) if isfile(join("../dataset/valid/"+str(i), f))]
v_files = [x.split('.')[0] for x in v]

In [16]:
len(v)

708

In [17]:
len(t+v)

3540

In [18]:
test = df[~df.image.isin((t_files+v_files))]
test.reset_index(inplace=True, drop=True)

In [19]:
test.level.value_counts()

0    25102
2     4584
1     1735
3      165
Name: level, dtype: int64

In [20]:
test['file_path'] = test.image.map(lambda x:"../../../diabetic_retinopathy_prediction/datasets/test/"+x+".jpeg")

<ipython-input-20-182b3cd8fae5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['file_path'] = test.image.map(lambda x:"../../../diabetic_retinopathy_prediction/datasets/test/"+x+".jpeg")

In [21]:
test

             image  level                                          file_path
0          10_left      0  ../../../diabetic_retinopathy_prediction/datas...
1         10_right      0  ../../../diabetic_retinopathy_prediction/datas...
2          13_left      0  ../../../diabetic_retinopathy_prediction/datas...
3         13_right      0  ../../../diabetic_retinopathy_prediction/datas...
4          15_left      1  ../../../diabetic_retinopathy_prediction/datas...
...            ...    ...                                                ...
31581  44347_right      0  ../../../diabetic_retinopathy_prediction/datas...
31582   44348_left      0  ../../../diabetic_retinopathy_prediction/datas...
31583  44348_right      0  ../../../diabetic_retinopathy_prediction/datas...
31584   44349_left      0  ../../../diabetic_retinopathy_prediction/datas...
31585  44349_right      1  ../../../diabetic_retinopathy_prediction/datas...

[31586 rows x 3 columns]

In [24]:
def move_files_valid(df):
    try:
        location = "../dataset/test/"+str(df.level)+"/"+df.image+".jpeg"
        shutil.move(df.file_path, location)
    except:
        pass

In [25]:
test.apply(move_files_valid, axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
31581    None
31582    None
31583    None
31584    None
31585    None
Length: 31586, dtype: object