In [ ]:
import os
from PIL import Image
import cv2
from google.colab.patches import cv2_imshow
import imageio
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
def variance_of_laplacian(image):
	# compute the Laplacian of the image and then return the focus
	# measure, which is simply the variance of the Laplacian
	return cv2.Laplacian(image, cv2.CV_64F).var()

In [37]:
def blurry_level_image(path):
  try:
    image = cv2.imread(path)
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
    fm = variance_of_laplacian(gray)
    return round(fm)
  except:
    return -1

In [ ]:
blurry_level_image('/content/drive/MyDrive/datasets/train/0/04aef84a2cc1.jpg')

48

In [ ]:
blurry_level_image('/content/drive/MyDrive/datasets/train/4/10685_right.jpg')

65

In [ ]:
blurry_level_image('/content/drive/MyDrive/datasets/train/4/13166_right.jpg')

131

In [ ]:
## dark images

In [ ]:
def img_darkness(path):
  try:
    img = imageio.imread(path, as_gray=True)
    return  round(np.mean(img))
  except:
    return -1

In [ ]:
img_darkness('/content/drive/MyDrive/datasets/train/4/10685_right.jpg')

72

In [ ]:
test_path = '/content/drive/MyDrive/datasets/val/0/'
onlyfiles = [f for f in listdir(test_path) if isfile(join(test_path, f))]

In [ ]:
df = pd.DataFrame(onlyfiles, columns=['file'])

In [ ]:
base_path = "/content/drive/MyDrive/datasets/"
images = ['train', 'val']
df = pd.DataFrame(columns = ['image', 'train_val', 'diagnosis'])
for i in range(0,5):
  for fol in images:
    path = base_path+str(fol)+'/'+str(i)+'/'
    temp = pd.DataFrame(listdir(path), columns = ['image'])
    temp['train_val'] = fol
    temp['diagnosis'] = i
    df = df.append(temp)

In [ ]:
df

               image train_val diagnosis
0     21542_left.jpg     train         0
1     25969_left.jpg     train         0
2     10163_left.jpg     train         0
3     29646_left.jpg     train         0
4      836_right.jpg     train         0
..               ...       ...       ...
437  37973_right.jpg       val         4
438   43384_left.jpg       val         4
439   16422_left.jpg       val         4
440  44247_right.jpg       val         4
441    6876_left.jpg       val         4

[11046 rows x 3 columns]

In [ ]:
df['path'] =  base_path+df['train_val']+'/'+df['diagnosis'].map(str)+'/'+df['image']

In [ ]:
df

               image  ...                                               path
0     21542_left.jpg  ...  /content/drive/MyDrive/datasets/train/0/21542_...
1     25969_left.jpg  ...  /content/drive/MyDrive/datasets/train/0/25969_...
2     10163_left.jpg  ...  /content/drive/MyDrive/datasets/train/0/10163_...
3     29646_left.jpg  ...  /content/drive/MyDrive/datasets/train/0/29646_...
4      836_right.jpg  ...  /content/drive/MyDrive/datasets/train/0/836_ri...
..               ...  ...                                                ...
437  37973_right.jpg  ...  /content/drive/MyDrive/datasets/val/4/37973_ri...
438   43384_left.jpg  ...  /content/drive/MyDrive/datasets/val/4/43384_le...
439   16422_left.jpg  ...  /content/drive/MyDrive/datasets/val/4/16422_le...
440  44247_right.jpg  ...  /content/drive/MyDrive/datasets/val/4/44247_ri...
441    6876_left.jpg  ...  /content/drive/MyDrive/datasets/val/4/6876_lef...

[11046 rows x 4 columns]

In [ ]:
df['darkness'] = df.path.apply(img_darkness)

In [35]:
df

               image  ... darkness
0     21542_left.jpg  ...       75
1     25969_left.jpg  ...       27
2     10163_left.jpg  ...       55
3     29646_left.jpg  ...      121
4      836_right.jpg  ...       75
..               ...  ...      ...
437  37973_right.jpg  ...      110
438   43384_left.jpg  ...       60
439   16422_left.jpg  ...       68
440  44247_right.jpg  ...       34
441    6876_left.jpg  ...       86

[11046 rows x 5 columns]

In [38]:
df['blurry'] = df.path.apply(blurry_level_image)

In [40]:
df.to_csv('blurry_darkness.csv', index=False)

In [39]:
df

               image train_val  ... darkness blurry
0     21542_left.jpg     train  ...       75    101
1     25969_left.jpg     train  ...       27     41
2     10163_left.jpg     train  ...       55     86
3     29646_left.jpg     train  ...      121     18
4      836_right.jpg     train  ...       75    145
..               ...       ...  ...      ...    ...
437  37973_right.jpg       val  ...      110    160
438   43384_left.jpg       val  ...       60    142
439   16422_left.jpg       val  ...       68    120
440  44247_right.jpg       val  ...       34     44
441    6876_left.jpg       val  ...       86    134

[11046 rows x 6 columns]